#header-wrapper {
  width: 100vw;
  padding-block: 0.5rem;
  margin: 0;
  background-color: #121212;
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
}

#header-title {
  font-size: 1.2rem;
  margin-left: 0.3rem;
  color: #ffffff;
}

#homepage-wrapper {
  width: 100vw;
  height: 100vh;
  margin-top: 3.4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#homepage-title-wrapper {
  margin-left: 3.2rem;
  max-width: 70%;
}

#homepage-btn {
  margin-top: 2rem;
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
  background-color: #ff00f2;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: scale 0.2s ease, background-color 0.2s ease, transform 0.2s ease;
}

#homepage-btn:hover {
  background-color: #bf00ee;
  scale: 1.06;
  transform: translateX(0.1rem);
}

#homepage-btn:active {
  scale: 0.94;
  transform: translateX(0);
}

#homepage-animation-outer-wrapper {
  margin-top: 3.4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#animation-cards-wrapper {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 3.4rem;
  place-items: center;
}

.animation-card {
  background-color: #bf00ee;
  width: 20rem;
  transition: background-color 0.3s ease-in-out;
}

.animation-card:hover {
  background-color: #d900ff;
}

.animation-card-upper {
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 0.3s ease-in-out;
}

.animation-card-upper:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.animation-card-button:hover {
  filter: brightness(1.1);
}

.animation-container {
    max-height: 50%;
}

.animation-code-container, .animation-container {
  margin-top: 7rem;
}

.expanded-animation-card {
  top: 12vh;
}

.animation-container::-webkit-scrollbar {
  width: 15px;
}
.animation-container::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.5);
  border-radius: 999px;
}
.animation-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #header-wrapper {
    height: 4.2rem;
  }

  #homepage-title-wrapper {
    margin-left: 5.2rem;
    max-width: 60%;
  }
}

@media only screen and (min-width: 768px) {
  .animation-code-container, .animation-container {
    margin-top: 5rem;
  }
}

@media only screen and (min-width: 768px) {

  #header-title {
    font-size: 1.4rem;
    margin-left: 1.4rem;
  }

  #homepage-wrapper {
    flex-direction: row;
    align-items: center;
  }

  #homepage-btn {
    font-size: 1.2rem;
    padding: 0.8rem 2rem;
  }

  #homepage-animation-outer-wrapper {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1024px) {
  #header-wrapper {
    height: 4.6rem;
  }

  #homepage-title-wrapper {
    margin-left: 5rem;
    width: 100%;
  }

  .expanded-animation-card {
    top: 15vh;
  }

  .animation-card {
    width: 22rem;
  }
}

@media only screen and (max-height: 700px) {
  .animation-container {
      max-height: 30%;
  }
}